<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <% include ../partials/nav.ejs %>
    <% include ../partials/navPoint.ejs %>

    <h2>清华校友分会</h2>

    <% if (results.status == 0) { %>

    <h3><%= results.data.association.cname %> - 线上积分：<%= results.data.association.online_run_points %> - 总积分：<%= results.data.association.points %> </h3>

    <table>
      <thead>
        <tr>
            <th>计数</th>
            <th><a href="/point/association/<%= results.data.association.id %>?orderBy=id">编号</a></th>
            <th><a href="/point/association/<%= results.data.association.id %>?orderBy=cname">中文名</a></th>
            <th><a href="/point/association/<%= results.data.association.id %>?orderBy='first_name, last_name'">英文名</a></th>
            <th><a href="/point/association/<%= results.data.association.id %>?orderBy=gender">性别</a></th>
            <th><a href="/point/association/<%= results.data.association.id %>?orderBy=th_department_id">院系</a></th>
            <th>分会</th>
            <th><a href="/point/association/<%= results.data.association.id %>?orderBy=sport_id">类别</a></th>
            <th><a href="/point/association/<%= results.data.association.id %>?orderBy='points DESC'">积分</a></th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i<results.data.players.length; i++) {
          const r = results.data.players[i];
        %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= r.id %></td>
          <td><a href="/point/player/<%= r.id %>"><%= r.cname %></a></td>
          <td><a href="/point/player/<%= r.id %>"><%= r.first_name %> <%= r.last_name %></a></td>
          <td><%= r.gender %></td>
          <td><%= r.th_department_name %></td>
          <td><%= r.th_association_name %></td>
          <td><%= r.sport_name %></td>
          <td><%= r.points %></td>
        </tr>
        <% }; %>
      </tbody>
    </table>

    <% } else { %>
    <h3> <%= results.message %> </h3>
    <% } %>
  </div>

</body>

</html>